:root {
	--light-green: #04ddb2;
	--light-red: #f34747;
	--white: #fff;
	--dark-grey: #333;
	--med-grey: #767676;

	font-family: LabGrotesque, Helvetica Neue, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: var(--dark-grey);
	background-color: var(--white);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.header-container {
	padding: 14px 40px 0;
	width: 100%;
	position: fixed;
	height: 80px;
	z-index: 1;
	background-color: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(20px);
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-inline: 24px;
}

.site-logo {
	font-weight: bold;
	font-size: 27px;
	position: relative;
	left: 42px;
}

.site-logo a {
	color: var(--dark-grey);
	display: block;
	position: relative;

	&::before,
	&::after {
		content: "";
		display: block;
		position: absolute;
		height: 14px;
		width: 14px;
		border-radius: 3px;
	}
	&::before {
		top: 11px;
		right: -18px;
		background-color: rgba(4, 221, 178, 0.5);
	}
	&::after {
		bottom: 10px;
		right: -24px;
		background-color: rgba(243, 71, 71, 0.8);
		z-index: -1;
	}
}

.nav {
	display: flex;
	justify-content: center;
	gap: 47px;
	margin-left: 69px;
}

.nav-link {
	color: var(--med-grey);
	transition: 0.2s ease-in-out;

	& :hover {
		transform: translateY(-1px) scale3d(1.03, 1.03, 1.03);
		color: var(--dark-grey);
		font-weight: 500;
	}
}

.header .download-btn {
	width: 129px;
	height: 48px;
	border-radius: 24px;
	font-size: 18px;
	font-weight: 700;
	background-color: #eef0f2;
	border: none;
	color: var(--dark-grey);
	transition: 0.2s ease-in-out;
	right: 35px;
	position: relative;
}

.download-btn,
.download-btn:hover {
	background-color: var(--light-green);
	color: var(--white);
}

.download-btn {
	width: 129px;
	height: 48px;
	border-radius: 24px;
	font-size: 18px;
	font-weight: 700;
	border: none;
	transition: 0.2s ease-in-out;
}

.main {
	padding: 80px 0;
}

/* Headings Styling */

.heading {
	display: flex;
	flex-direction: column;
	align-items: center;

	& .title {
		font-size: 80px;
		margin-bottom: 12px;
		line-height: 1.05;

		& span {
			color: var(--light-green);
		}
	}

	& .subheading {
		font-size: 32px;
		max-width: 700px;
		margin-block: 10px 40px;
		text-align: center;
		line-height: 1.45;
	}
}

#tour .subheading {
	max-width: 700px;
}
#blog .subheading {
	max-width: 850px;
}
#examples .subheading {
	max-width: 720px;
}
#help .subheading {
	max-width: 650px;
	font-size: 24px;
}

/* Video Card Styling */

.video-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.video-card {
	border-radius: 24px;
	width: 600px;
	margin: 32px;
	box-shadow: 0 100px 140px -50px rgba(0, 0, 0, 0.25),
		0 0 20px 0 rgba(0, 0, 0, 0.03);

	& video {
		width: 100%;
		border-radius: 24px 24px 0 0;
	}
}

.video-card-content {
	padding: 28px 32px 32px;

	& .title {
		margin: 0;
		font-size: 22px;
		font-weight: 900;
	}

	& .description {
		font-size: 22px;
		line-height: 1.5;
		margin: 0 0 8px 0;
	}
}

/* Video Tour Page Styling */

.tour-video-container {
	display: flex;
	justify-content: center;
	margin-top: 45px;

	& img {
		border-radius: 24px;
		max-width: 1272px;
		cursor: pointer;
		transition: 0.2s ease-in-out;

		&:hover {
			box-shadow: 0 100px 140px -50px rgba(0, 0, 0, 0.25),
				0 0 20px 0 rgba(0, 0, 0, 0.03);
			transform: scale3d(1.01, 1.01, 1.01);
		}
	}
}

.modal {
	border: none;
	border-radius: 24px;
	background: #000;

	&::backdrop {
		background-color: rgb(0 0 0 / 0.6);
	}

	& video {
		width: 100%;
	}

	& .close-button {
		background-color: transparent;
		border: none;
		cursor: pointer;
	}
}

/* Final Call to Action Styling */

.final-action {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-block: 75px 48px;

	& h2 {
		font-size: 64px;
		max-width: 500px;
		text-align: center;
		line-height: 1.05;
	}
}

/* Hero Styling */
.hero-container {
	display: flex;
	justify-content: center;
	margin: 65px 0 0 105px;

	& .heading {
		display: block;
		margin-top: 75px;
		margin-left: 100px;
	}

	& .title {
		font-size: 80px;
	}
}

.hero-container,
.made-easy {
	& .subheading {
		text-align: left;
	}
}

.buttons-container {
	display: flex;
	gap: 30px;
}

button {
	&.video-tour {
		background-color: transparent;
		color: var(--light-green);
		font-size: 24px;
		border: none;
		font-weight: 700;
		display: flex;
		align-items: center;
		gap: 10px;
		cursor: pointer;
		transition: 0.4s;
	}
	&.large {
		width: 200px;
		height: 64px;
		border-radius: 32px;
		background-color: #04ddb2;
		color: #fff;
		font-weight: 700;
		font-size: 24px;
		cursor: pointer;
		transition: 0.4s;
		box-shadow: 0 10px 20px -8px transparent;
	}
	&.large:hover,
	&.video-tour:hover {
		transform: scale3d(1.05, 1.05, 1.05);
	}
}

.made-easy {
	background-color: #f2f3f5;
	display: block;
	max-width: 100%;

	& .heading {
		align-items: flex-start;
		padding-left: 290px;
	}

	& .subheading {
		max-width: 850px;
	}
}

.image-container {
	display: flex;
	margin-left: 10px;

	& .made-easy-img {
		max-width: 1312px;
		margin: auto;
	}
}

/* Blog Card Styling */
.blog-card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.blog-card {
	border-radius: 24px;
	width: 600px;
	margin: 32px;
	box-shadow: 0 100px 140px -50px rgba(0, 0, 0, 0.25),
		0 0 20px 0 rgba(0, 0, 0, 0.03);

	& img {
		width: 100%;
		border-radius: 24px 24px 0 0;
	}
}

.blog-card-content {
	padding: 28px 32px 32px;

	& .title {
		margin-block: 0 8px;
		font-size: 24px;
		font-weight: 900;
	}

	& .intro {
		font-size: 24px;
		line-height: 1.67;
		margin: 0 0 56px 0;
	}

	& .release-date {
		color: var(--med-grey);
	}
}
