:root {
	--light-green: #04ddb2;
	--light-red: #f34747;
	--white: #fff;
	--dark-grey: #333;
	--med-grey: #767676;

	font-family: LabGrotesque, Helvetica Neue, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: var(--dark-grey);
	background-color: var(--white);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.header-container {
	padding: 14px 40px 0;
	width: 100%;
	position: fixed;
	height: 80px;
	z-index: 1;
	background-color: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(20px);
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-inline: 24px;
}

.site-logo {
	font-weight: bold;
	font-size: 27px;
	position: relative;
	left: 42px;
}

.site-logo a {
	color: var(--dark-grey);
	display: block;
	position: relative;
}

.site-logo a::before,
.site-logo a::after {
	content: "";
	display: block;
	position: absolute;
	height: 14px;
	width: 14px;
	border-radius: 3px;
}

.site-logo a::before {
	top: 11px;
	right: -18px;
	background-color: rgba(4, 221, 178, 0.5);
}

.site-logo a::after {
	bottom: 10px;
	right: -24px;
	background-color: rgba(243, 71, 71, 0.8);
	z-index: -1;
}

.nav {
	display: flex;
	justify-content: center;
	gap: 47px;
	margin-left: 69px;
}

.nav-link {
	color: var(--med-grey);
	transition: 0.2s ease-in-out;
}

.nav-link:hover {
	transform: translateY(-1px) scale3d(1.03, 1.03, 1.03);
	color: var(--dark-grey);
	font-weight: 500;
}

.header .download-btn {
	width: 129px;
	height: 48px;
	border-radius: 24px;
	font-size: 18px;
	font-weight: 700;
	background-color: #eef0f2;
	border: none;
	color: var(--dark-grey);
	transition: 0.2s ease-in-out;
}

.download-btn,
.download-btn:hover {
	background-color: var(--light-green);
	color: var(--white);
}

.download-btn {
	width: 129px;
	height: 48px;
	border-radius: 24px;
	font-size: 18px;
	font-weight: 700;
	border: none;
	transition: 0.2s ease-in-out;
}

.main {
	padding: 80px 0;
}

/* Headings Styling */

.heading {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.heading .title {
	font-size: 64px;
	margin-bottom: 12px;
	line-height: 1.05;
}

.heading .title span {
	color: var(--light-green);
}

.heading .subheading {
	font-size: 26px;
	max-width: 600px;
	margin-block: 10px 40px;
	text-align: center;
	line-height: 1.45;
}

/* Video Card Styling */

.video-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 45px;
}

.video-card {
	border-radius: 24px;
	width: 518px;
	box-shadow: 0 100px 140px -50px rgba(0, 0, 0, 0.25),
		0 0 20px 0 rgba(0, 0, 0, 0.03);
}

.video-card video {
	width: 100%;
	border-radius: 24px 24px 0 0;
}

.video-card-content {
	padding: 28px 32px 32px;
}

.video-card-content .title {
	margin: 0;
	font-size: 22px;
	font-weight: 900;
}

.video-card-content .description {
	font-size: 22px;
	line-height: 1.5;
	margin: 0 0 8px 0;
}

/* Video Tour Page Styling */

.tour-video-container {
	display: flex;
	justify-content: center;
	margin-top: 54px;
}

.tour-video-container img {
	border-radius: 24px;
	max-width: 1088px;
	cursor: pointer;
	transition: 0.2s ease-in-out;
}

.tour-video-container img:hover {
	box-shadow: 0 100px 140px -50px rgba(0, 0, 0, 0.25),
		0 0 20px 0 rgba(0, 0, 0, 0.03);
	transform: scale3d(1.01, 1.01, 1.01);
}

.modal {
	border: none;
	border-radius: 24px;
	background: #000;
}

.modal::backdrop {
	background: rgb(0 0 0 / 0.6);
}

.modal video {
	width: 100%;
}

.modal .close-button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

/* Final Call to Action Styling */

.final-action {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-bottom: 48px;
}

.final-action h2 {
	font-size: 64px;
	max-width: 500px;
	text-align: center;
	line-height: 1.05;
}

/* Hero Styling */
.hero-container {
	display: flex;
	justify-content: center;
	margin-top: 65px;
}

.hero-container .heading {
	display: block;
	margin-top: 75px;
	margin-left: 100px;
}

.hero-container .title {
	font-size: 80px;
}

.hero-container .subheading,
.made-easy .subheading {
	text-align: left;
}

.buttons-container {
	display: flex;
	gap: 30px;
}

button.video-tour {
	background-color: transparent;
	color: var(--light-green);
	font-size: 24px;
	border: none;
	font-weight: 700;
	display: flex;
	align-items: center;
	gap: 10px;
	cursor: pointer;
	transition: 0.4s;
}

button.large {
	width: 200px;
	height: 64px;
	border-radius: 32px;
	background-color: #04ddb2;
	color: #fff;
	font-weight: 700;
	font-size: 24px;
	font-family: LabGrotesque, Helvetica Neue, Helvetica, Arial, sans-serif;
	cursor: pointer;
	transition: 0.4s;
	box-shadow: 0 10px 20px -8px transparent;
}

button.large:hover,
button.video-tour:hover {
	transform: scale3d(1.05, 1.05, 1.05);
}

.made-easy {
	background-color: #f2f3f5;
	display: block;
	max-width: 100%;
}

.made-easy .heading {
	align-items: flex-start;
	padding-left: 300px;
}

.made-easy-img {
	width: 100%;
	position: relative;
	left: 200px;
	padding-right: 400px;
}
